extends layout

block styles
    link(href="./stylesheets/lostIndex.css" rel='stylesheet')

block content
    .page-group
        .page.page-current
            // 你的html代码
            header.bar.bar-nav
                h1.title 失物
            nav.bar.bar-tab
                a.tab-item.external(href='/')
                    span.icon.icon-home
                    span.tab-label 主页
                a.tab-item.external(href='/lost/post')
                    span.icon.icon-edit
                    span.tab-label 发布
                a.tab-item.external(href='/lost/search')
                    span.icon.icon-search
                    span.tab-label 搜索
                a.tab-item.external(href='/lost/self')
                    span.icon.icon-me
                    span.tab-label 个人中心
                    // <span class="badge">2<pan>
                a.tab-item.external.create-actions(href='#')
                    span.icon.icon-menu
                    span#menu_item.tab-label 失物
            .content
                .buttons-tab.fixed-tab(data-offset='44')
                    a.tab-link.active.button(href='#tab-index-lost') 全部
                    a.tab-link.button(href='#tab-card-lost') 数码
                    a.tab-link.button(href='#tab-ele-lost') 运动
                    a.tab-link.button(href='#tab-sport-lost') 卡证
                    a.tab-link.button(href='#tab-other-lost') 其它
                .tabs
                    #tab-index-lost.tab.active
                        .list-block.cards-list
                            ul
                                if goods
                                    each item in goods
                                        if item.type == 'thing'
                                            li.card.facebook-card
                                                .card-header.no-border
                                                    .facebook-avatar
                                                        img(src= item.authorAvatarUrl)
                                                    .facebook-name
                                                        span.author_name=item.authorName
                                                        span.view_times 浏览次数：#{item.view}
                                                    .facebook-date
                                                        span.publish_time=item.date
                                                        span.author_locale 来自[#{item.authorSchool}]
                                                .card-content
                                                    .card-content-inner
                                                        each url in item.picUrl
                                                            img(src= url)
                                                    .card-content-inner
                                                        span.content-title= item.name
                                                        span.category= item.category_ch
                                                .card-footer.no-border
                                                    span.lost_site 丢失地点  #{item.location}
                    #tab-card-lost.tab
                        .content-block
                            p This is tab 2 content
                    #tab-ele-lost.tab
                        .content-block
                            p This is tab 3 content
                    #tab-sport-lost.tab
                        .content-block
                            p This is tab 3 content
                    #tab-other-lost.tab
                        .content-block
                            p This is tab 3 content

block scripts
    script(src="./javascripts/windowUtils.js")
    script(src="./javascripts/lostIndex.js")
    script(type='text/javascript' src='./javascripts/imgViewer.js' charset='utf-8')

