extends servicelayout

block styles
  link(rel="stylesheet" href="../stylesheets/lostIndexSelf.css")

block content
  div.page-group
    div.page.page-current#signup
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.pull-left.external(href="/treehole")
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.pull-right.external
          span.icon.text-white
            i.iconfont-selfShare &#xe610;
        h1.title.text-white 个人中心
      
      if user  
        div.self
          div
            img(src= user.avatarUrl)
            div.self-info
              div.facebook-name= user.name
              div.facebook-sign-name 个性签名:我咋这么帅，我自己都被迷住啦
              a 编辑资料>

        div.lostIndex-content
          div.buttons-tab
            a.tab-link.button.active(href="#thing") 失物
            a.tab-link.button(href="#thing") 招领
        div.topic-block
          div.tab.active#thing
            if goods
              each item in goods
                if item.type == "thing"
                  div.my-topic
                    each url in item.picUrl
                      img(src= url)
                    div.topic-content
                      a.content-title= item.name
                      span.category= item.category_ch
                      div.content-text= item.desc
                      div
                        a.tour 已巡回
                        a.found 已找到

          div.tab.active#person
            if goods
              each item in goods
                if item.type == "person"
                  div.my-topic
                    each url in item.picUrl
                      img(src= url)
                    div.topic-content
                      a.content-title= item.name
                      span.category= item.category_ch
                      div.content-text= item.desc
                      div
                        a.tour 已巡回
                        a.found 已找到


block scripts
