extends layout

block styles
  link(href="./stylesheets/lostIndex.css" rel='stylesheet')
  
block content
  div.page-group
    div.page.page-current.lost-page
      //- header.bar.bar-nav.back-blue
      //-   a.button.button-link.button-nav.lostIndex-back.pull-left.external(href="/")
      //-     span.icon.icon-left
      //-   a.button.button-link.button-nav.lostIndex-back.pull-right.external
      //-     span.icon.text-white
      //-       i.iconfont-selfShare &#xe610;
      //-   h1.title.text-white 失物招领
      div.lost-tabs
        div.lost
          span.active 失物
            //a.gotoLost(href="#" onclick="gotoLost()") 失物
        div.found
          span 招领
            //a.gotoFound(href="#" onclick="gotoFound()") 招领
      nav.bar.bar-tab
        a.tab-item.external(href="/")
          span.icon.index-color
            i.iconfont-indexTabBar &#xe601;
          span.tab-label 主页
        a.tab-item.external(href="/lost/post")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe603;
          span.tab-label 发布
        a.tab-item.external(href="/lost/self")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe604;
          span.tab-label 个人中心
          
      
      div#lost.lostIndex-content
        div.buttons-tab
          a.tab-link.button.active(href="#tab-index-lost") 首页
          a.tab-link.button(href="#tab-card-lost") 卡证
          a.tab-link.button(href="#tab-ele-lost") 数码
          a.tab-link.button(href="#tab-sport-lost") 运动
          a.tab-link.button(href="#tab-other-lost") 其它          
        div.content-block
          div.tabs
            div#tab-index-lost.tab.active
              div.content-block
                if goods
                  each item in goods
                    if item.type == "thing"
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                      
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                              div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 失物
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有
            div#tab-card-lost.tab
              div.content-block
                if cardGoods
                  each item in cardGoods
                    if item.type == "thing"   
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                                       
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                              div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 失物
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有

            div#tab-sport-lost.tab
              div.content-block
                if sportGoods
                  each item in sportGoods
                    if item.type == "thing"      
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                                    
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                              div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 失物
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有

            div#tab-ele-lost.tab
              div.content-block
                if eleGoods
                  each item in eleGoods
                    if item.type == "thing"   
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                                       
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                              div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 失物
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有


            div#tab-other-lost.tab
              div.content-block
                if otherGoods
                  each item in otherGoods
                    if item.type == "thing"                    
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                      
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                              div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 失物
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有


      div#found.lostIndex-content
        div.buttons-tab
          a.tab-link.button.active(href="#tab-index-found") 首页
          a.tab-link.button(href="#tab-card-found") 卡证
          a.tab-link.button(href="#tab-ele-found") 数码
          a.tab-link.button(href="#tab-sport-found") 运动
          a.tab-link.button(href="#tab-other-found") 其它          
        div.content-block
          div.tabs
            div#tab-index-found.tab.active
              div.content-block
                if goods
                  each item in goods
                    if item.type == "person"     
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                                                           
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                              div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 招领
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有
            div#tab-card-found.tab
              div.content-block
                if cardGoods
                  each item in cardGoods
                    if item.type == "person"                    
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                                            
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                              div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 招领
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有

            div#tab-sport-found.tab
              div.content-block
                if sportGoods
                  each item in sportGoods
                    if item.type == "person"                    
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                                            
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                              div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 招领
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有

            div#tab-ele-found.tab
              div.content-block
                if eleGoods
                  each item in eleGoods
                    if item.type == "person"                    
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                                            
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                            div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 招领
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有


            div#tab-other-found.tab
              div.content-block
                if otherGoods
                  each item in otherGoods
                    if item.type == "person"                    
                      a.linkWrapper.external(href= "/lost/detail/"+item._id)                                            
                        div.card.facebook-card(data-lId= item._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= item.authorAvatarUrl)
                            div.card-info
                              div
                                span.facebook-name= item.authorName
                                span.page-view 浏览次数： #{item.view}
                            div.facebook-date
                                span= item.date
                                if item.school
                                  span 来自[#{item.authorSchool}]
                          div.card-content
                            div.picsWrapper
                              each url in item.picUrl
                                img(src= url)
                            div.title-category
                              span 招领
                              | &middot;
                              span.content-title= item.name
                              span.category= item.category_ch
                            div.card-content-text= item.desc
                          div.card-footer
                            div.icon.position
                              i.iconfont-position &#xe619;
                              span 丢失地点  #{item.location}
                else
                  div 什么都咩有

    div.page#search-page
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.pull-left(href="#index")
          span.icon.icon-left
        h1.title.text-white 失物招领
      //- 在这里写搜索页面的内容    
      div.bar.bar-header-secondary.lostIndex-searchbar
        div.searchbar
          div.search-input
            label.icon.icon-search(for="search")
            input#search-action(type="search", placeholder="搜索感兴趣的话题")


block scripts
  script(src="./javascripts/windowUtils.js")  
  script(src="./javascripts/lostIndex.js")  
  script(type='text/javascript' src='./javascripts/imgViewer.js' charset='utf-8')
