extends layout

block styles
    link(href="./stylesheets/lostIndex.css" rel='stylesheet')

block content
    .page-group
        .page.page-current
            // 你的html代码
            header.bar.bar-nav
                .searchbar
                    a.searchbar-cancel 取消
                    .search-input
                        label.icon.icon-search(for='search')
                        input#search(type='search', placeholder='输入关键字...')
            nav.bar.bar-tab
                a.tab-item.external(href='/')
                    span.icon.icon-home
                    span.tab-label 主页
                a.tab-item.external(href='/lost/post')
                    span.icon.icon-edit
                    span.tab-label 发布
                a.tab-item.external(href='/lost/self')
                    span.icon.icon-me
                    span.tab-label 个人中心
                    // <span class="badge">2</span>
                a.tab-item.external.create-actions(href='#')
                    span.icon.icon-menu
                    span#menu_item.tab-label 失物
            .content
                .buttons-tab.fixed-tab(data-offset='44')
                    a.tab-link.active.button(href='#tab_lost-index') 全部
                    a.tab-link.button(href='#tab_lost-card') 卡证
                    a.tab-link.button(href='#tab_lost-sport') 运动
                    a.tab-link.button(href='#tab_lost-digital') 数码
                    a.tab-link.button(href='#tab5_lost-other') 其它
                .tabs
                    #tab_lost-index.tab.active
                        if goods
                            each item in goods
                                if item.type == "thing"
                                    a.linkWrapper.external(href= "/lost/detail/" + item._id)
                                        div.card.facebook-card(id= item._id)
                                            div.card-header.no-border
                                                div.facebook-avatar
                                                    img(src= item.authorAvatarUrl)
                                                div.facebook-name=item.authorName
                                                    //div
                                                    //    span.facebook-name= item.authorName
                                                    //    span.page-view 浏览次数： #{item.view}
                                                div.facebook-date= item.date
                                                        //span= item.date
                                                        //if item.authorSchool
                                                        //    span 来自[#{item.authorSchool}]
                                            div.card-content
                                                div.picsWrapper
                                                    //each url in item.picUrl
                                                    //    img(src= url)
                                                div.title-category
                                                    span 失物
                                                    | &middot;
                                                    span.content-title= item.name
                                                    span.category= item.category_ch
                                                div.card-content-text= item.desc
                                            div.card-footer.no-border
                                                //div.icon.position
                                                //    i.iconfont-position &#xe619;
                                                span 丢失地点  #{item.location}
                        else
                            div 什么都咩有
                    #tab_lost-card.tab
                        .content-block
                            p This is tab 2 content
                    #tab_lost-sport.tab
                        .content-block
                            p This is tab 3 content
                    #tab_lost-digital.tab
                        .content-block
                            p This is tab 3 content
                    #tab_lost-other.tab
                        .content-block
                            p This is tab 3 content




block scripts
    script(src="./javascripts/windowUtils.js")
    script(src="./javascripts/lostIndex.js")
    script(type='text/javascript' src='./javascripts/imgViewer.js' charset='utf-8')
