extends layout

block styles
  link(href="./stylesheets/playIndex.css" rel='stylesheet')
  link(rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css")

block content
  div.page-group
    div.page.page-current
      //- header.bar.bar-nav.back-blue
      //-   a.button.button-link.button-nav.playIndex-back.pull-left.external(href="/")
      //-     span.icon.icon-left
      //-   a.button.button-link.button-nav.playIndex-back.pull-right.external
      //-     span.icon.text-white
      //-       i.iconfont-selfShare &#xe610;
      //-   h1.title.text-white 去约

      nav.bar.bar-tab
        a.tab-item.external(href="/")
          span.icon.index-color
            i.iconfont-indexTabBar &#xe601;
          span.tab-label.index-color 主页
        a.tab-item.external(href="/play/post")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe603;
          span.tab-label 发布
        a.tab-item.external(href="/play/self")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe604;
          span.tab-label 个人中心

      //- div.bar.bar-header-secondary.playIndex-searchbar
      //-   div.searchbar
      //-     a.searchbar-cancel 取消
      //-     div.search-input
      //-       label.icon.icon-search(for="search")
      //-       input#search(type="search", placeholder="寻求和提供服务")
      //-     a.gotoSearch.link(href="#search-page")

      div.content.play-content
        div.buttons-tab
          a.tab-link.button.active(href="#tab-can") 我可以
          a.tab-link.button(href="#tab-want") 我需要
        div.content-block
          div.tabs
            div#tab-can.tab.active
              div.content-block
                if plays
                  each play, index in plays
                    if play.type == "can"
                      a.linkWrapper.external(href= "/play/detail/"+play._id)
                        div.card.facebook-card(data-pId= play._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= play.authorAvatarUrl)
                            div.card-info
                              div.facebook-name
                                span 我可以
                                | &middot;
                                span= play.name
                                span.right ￥#{play.price}
                              div.facebook-date
                                span= play.date
                                span= play.authorSchool
                          div.card-content.fuck-contentl
                            // h3.card-content-title= play.title
                            p.card-content-text= play.desc
                            div.picsWrapper
                              each url in play.picUrl
                                img(src= url)
                else
                  div 还没有人出售技能

            div.tab#tab-want
              div.content-block
                if plays
                  each play, index in plays
                    if play.type == "want"
                      a.linkWrapper.external(href= "/play/detail/"+play._id)                      
                        div.card.facebook-card(data-pId= play._id)
                          div.card-header.no-border
                            div.facebook-avatar
                                img(src= play.authorAvatarUrl)
                            div.card-info
                              div.facebook-name
                                span 我需要
                                | &middot;
                                span= play.name
                                span.right ￥#{play.price}
                              div.facebook-date
                                span= play.date
                                span= play.authorSchool
                          div.card-content.fuck-content
                            h3.card-content-title= play.title
                            p.card-content-text= play.content
                            div.picsWrapper
                              each url in play.picUrl
                                img(src= url)
                else
                  div 还没有人发布需求



block scripts
  script(src="./javascripts/windowUtils.js")
  script(src="./javascripts/playIndex.js")
  script(type='text/javascript' src='./javascripts/imgViewer.js' charset='utf-8')
