extends servicelayout

block styles
  link(rel="stylesheet" href="../stylesheets/playSelf.css")

block content
  div.page-group
    div.page.page-current#signup
      //- header.bar.bar-nav.back-blue
      //-   a.button.button-link.button-nav.treehole-back.pull-left.external(href="/play")
      //-     span.icon.icon-left.text-white
      //-   a.button.button-link.button-nav.treehole-back.pull-right.external
      //-     span.icon.text-white
      //-       i.iconfont-selfShare &#xe610;
      //-   h1.title.text-white 个人中心
      if user
        div.self
          div
            img(src= user.avatarUrl)
            div.self-info
              div.facebook-name= user.name
              div.facebook-sign-name 个性签名:
              a.external(href="/self") 编辑资料>

        div.buttons-tab
          a.tab-link.button.active.play(href="#tab-play") 我的去约
        div.content-block#play-content
          div.tabs
            div#tab-play.tab.active
              div.content-block
                if plays
                  each item in plays
                    a.linkWrapper(href= "/play/detail/"+item._id)
                      div.item-block(data-pId= item._id)
                        div.img-wrapper
                          img(src= item.picUrl[0])
                          span.no-img  没有图片
                        div.item-content
                          div.item-header
                            - var pre = ( item.type == "can") ? "我可以"  : "我需要"
                            a.item-name
                              span #{pre}
                              | &middot;
                              span= item.name
                            span.item-price ￥#{item.price}
                          div.item-desc= item.desc
                          div.item-footer
                            div.actionSheet
                              a.del(data-pId= item._id) 删除
      else
        div.content
          div.content-block
            div.hint
              div.message 你还没有登陆
              div.actionRow
                div.signup
                  a.button-link.button.button-fill.button-success.external(href="/signin")  去注册

block scripts
  script(src="../javascripts/windowUtils.js")
  script(src="../javascripts/playSelf.js")
