extends servicelayout

block styles
  link(href="./stylesheets/secondHand.css" rel='stylesheet')

block content
  div.page-group
    div.page.page-current
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/")
          span.icon.icon-left
        h1.title.text-white 二手交易
      nav.bar.bar-tab
        a.tab-item.external(href="/secondHand")
          span.icon.index-color
            i.iconfont-indexTabBar &#xe601;
          span.tab-label 主页
        a.tab-item.external(href="/secondHand/post")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe603;
          span.tab-label 发布
        a.tab-item.external(href="/secondHand/self")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe604;
          span.tab-label 个人中心
      div.bar.bar-header-secondary.treehole-searchbar
        div.searchbar
          a.searchbar-cancel 取消
          div.search-input
            label.icon.icon-search(for="search")
            input#search(type="search", placeholder="搜索感兴趣的话题")             
      div.content.treehole-content
        div.category-tab
          div.tab-controller
            a.tab-link.active(href="#tab-index") 首页
            a.tab-link(href="#tab-trans") 交通工具
            a.tab-link(href="#tab-sport") 运动健身
            a.tab-link(href="#tab-ele") 电子产品
            a.tab-link(href="#tab-eleEqui") 电器
            a.tab-link(href="#tab-beauty") 丽人美妆
            a.tab-link(href="#tab-other") 其他
            a.tab-link(href="#tab-eleEqui") 电器
        div.content-block
          div.tabs
            div#tab-index.tab.active
              div.content-block
                if treeholes
                  each treehole, index in treeholes
                    div.card.facebook-card(data-tId= treehole._id)
                      div.card-header.no-border
                        div.facebook-avatar
                            img(src= treehole.authorAvatarUrl)
                        div.card-info
                          div.facebook-name= treehole.authorName
                          div.facebook-date
                            span= treehole.date 
                            span= treehole.authorSchool
                      div.card-content
                        h3.card-content-title= treehole.title
                        p.card-content-text= treehole.content
                        div.picsWrapper
                          each url in treehole.picUrl
                            img(src= url)
                      div.card-footer
                        a#comment.icon.link(href="#")
                          i.iconfont-selfComment &#xe612;
                          span.comment-count= treehole.meta.comments
                        a#enjoy.icon.link(href="#")
                          i.iconfont-nullEnjoy &#xe614;
                          span.enjoy-count= treehole.meta.fav
                else
                  div 还没有人发布树洞  
            div#tab-trans.tab
              div.content-block
                div 这里是交通工具
            div#tab-sport.tab
              div.content-block
                div 这是运动健身
            div#tab-ele.tab
              div.content-block
                div 这是电子产品
            div#tab-eleEqui.tab
              div.content-block
                div 这是电器
            div#tab-beauty.tab
              div.content-block
                div 这是丽人美妆
            div#tab-other.tab
              div.content-block
                div 这是其他
  
  
  
block scripts
