extends layout

block styles
  link(href="./stylesheets/secondHand.css" rel='stylesheet')

block content
  div.page-group
    div.page.page-current
      //- header.bar.bar-nav.back-blue
      //-   a.button.button-link.button-nav.secondHand-back.pull-left.external(href="/")
      //-     span.icon.icon-left
      //-   a.button.button-link.button-nav.secondHand-back.pull-right.external
      //-     span.icon.text-white
      //-       i.iconfont-selfShare &#xe610;
      //-   h1.title.text-white 二手交易
      nav.bar.bar-tab
        a.tab-item.external(href="/")
          span.icon.index-color
            i.iconfont-indexTabBar &#xe601;
          span.tab-label 主页
        a.tab-item.external(href="/secondHand/post")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe603;
          span.tab-label 发布
        a.tab-item.external(href="/secondHand/self")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe604;
          span.tab-label 个人中心
      div.bar.bar-header-secondary.secondHand-searchbar
        div.searchbar
          a.searchbar-cancel 取消
          div.search-input
            label.icon.icon-search(for="search")
            input#search(type="search", placeholder="搜索感兴趣的话题")  
                       
      div.content.secondHand-content
        div.buttons-tab
          a.tab-link.button.active(href="#tab-index") 首页
          a.tab-link.button(href="#tab-book") 书籍
          a.tab-link.button(href="#tab-ele") 数码
          a.tab-link.button(href="#tab-beauty") 丽人
          a.tab-link.button(href="#tab-other") 其它
        div.content-block
          div.tabs
            div#tab-index.tab.active
              div.content-block
                if valuebles
                  each item in valuebles
                    div.card.facebook-card(data-vId= item._id)
                      div.card-header.no-border
                        div.facebook-avatar
                            img(src= item.authorAvatarUrl)
                        div.card-info
                          div
                            span.facebook-name= item.authorName
                            span.page-view 浏览次数： #{item.view}
                          div.facebook-date
                            span= item.date 
                            if item.school
                              span 来自[#{item.authorSchool}]
                      div.card-content
                        div.picsWrapper
                          each url in item.picUrl
                            img(src= url)
                        div.title-category
                          span.content-title= item.name
                          span.category= item.category_ch
                        div.card-content-text= item.desc
                      div.card-footer
                        div.icon.position
                          i.iconfont-position &#xe619;
                          span 交易地点 #{item.location}
                        div.price ￥#{item.price}
                else
                  div 还没人发布二手
            div#tab-book.tab
              div.content-block
                if bookValuebles
                  each item in bookValuebles
                      div.card.facebook-card(data-vId= item._id)
                        div.card-header.no-border
                          div.facebook-avatar
                              img(src= item.authorAvatarUrl)
                          div.card-info
                            div
                              span.facebook-name= item.authorName
                              span.page-view 浏览次数： #{item.view}
                            div.facebook-date
                              span= item.date 
                              if item.school
                                span 来自[#{item.authorSchool}]
                        div.card-content
                          div.picsWrapper
                            each url in item.picUrl
                              img(src= url)
                          div.title-category
                            span.content-title= item.name
                            span.category= item.category_ch
                          div.card-content-text= item.desc
                        div.card-footer
                          div.icon.position
                            i.iconfont-position &#xe619;
                            span 交易地点  #{item.location}
                          div.price= item.price
                else
                  div 还没人发布书籍的二手

            div#tab-ele.tab
              div.content-block
                if eleValuebles
                  each item in eleValuebles
                    div.card.facebook-card(data-vId= item._id)
                      div.card-header.no-border
                        div.facebook-avatar
                            img(src= item.authorAvatarUrl)
                        div.card-info
                          div
                            span.facebook-name= item.authorName
                            span.page-view 浏览次数： #{item.view}
                          div.facebook-date
                            span= item.date 
                            if item.school
                              span 来自[#{item.authorSchool}]
                      div.card-content
                        div.picsWrapper
                          each url in item.picUrl
                            img(src= url)
                        div.title-category
                          span.content-title= item.name
                          span.category= item.category_ch
                        div.card-content-text= item.desc
                      div.card-footer
                        div.icon.position
                          i.iconfont-position &#xe619;
                          span 交易地点  #{item.location}
                        div.price= item.price
                else
                  div 还没人发布数码的二手

            div#tab-beauty.tab
              div.content-block
                if beautyValuebles
                  each item in beautyValuebles
                    div.card.facebook-card(data-vId= item._id)
                      div.card-header.no-border
                        div.facebook-avatar
                            img(src= item.authorAvatarUrl)
                        div.card-info
                          div
                            span.facebook-name= item.authorName
                            span.page-view 浏览次数： #{item.view}
                          div.facebook-date
                            span= item.date 
                            if item.school
                              span 来自[#{item.authorSchool}]
                      div.card-content
                        div.picsWrapper
                          each url in item.picUrl
                            img(src= url)
                        div.title-category
                          span.content-title= item.name
                          span.category= item.category_ch
                        div.card-content-text= item.desc
                      div.card-footer
                        div.icon.position
                          i.iconfont-position &#xe619;
                          span 交易地点  #{item.location}
                        div.price= item.price
                else
                  div 还没人发布电子产品的二手

            div#tab-other.tab
              div.content-block
                if otherValuebles
                  each item in otherValuebles
                    div.card.facebook-card(data-vId= item._id)
                      div.card-header.no-border
                        div.facebook-avatar
                            img(src= item.authorAvatarUrl)
                        div.card-info
                          div
                            span.facebook-name= item.authorName
                            span.page-view 浏览次数： #{item.view}
                          div.facebook-date
                            span= item.date 
                            if item.school
                              span 来自[#{item.authorSchool}]
                      div.card-content
                        div.picsWrapper
                          each url in item.picUrl
                            img(src= url)
                        div.title-category
                          span.content-title= item.name
                          span.category= item.category_ch
                        div.card-content-text= item.desc
                      div.card-footer
                        div.icon.position
                          i.iconfont-position &#xe619;
                          span 交易地点  #{item.location}
                        div.price= item.price
                else
                  div 还没人发布二手

            //- div#tab-eleEqui.tab
            //-   div.content-block
            //-     div 这是电器
            //- div#tab-beauty.tab
            //-   div.content-block
            //-     div 这是丽人美妆
            //- div#tab-other.tab
            //-   div.content-block
            //-     div 这是其他

  
  
block scripts
  script(src="./javascripts/windowUtils.js")  
  script(src="./javascripts/secondHandIndex.js") 
  script(type='text/javascript' src='./javascripts/imgViewer.js' charset='utf-8')   
