extends detaillayout

block styles
  link(rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css")
  link(rel="stylesheet" href="../../stylesheets/secondHandDetail.css")

block content
  div.page-group
    div.page.page-current#signup
      //- header.bar.bar-nav.back-blue
      //-   a.button.button-link.button-nav.treehole-back.pull-left.external(href="/secondHand")
      //-     span.icon.icon-left.text-white
      //-   a.button.button-link.button-nav.treehole-back.pull-right.external
      //-     span.icon.text-white
      //-       i.iconfont-selfShare &#xe610;
      //-   h1.title.text-white 详情

      div.content
        //- div(class="swiper-container index-swiper-container" data-space-between="10")
        //-   div.swiper-wrapper
        //-     each url in valueble.picUrl
        //-       div.swiper-slide
        //-         img(src= url)
        //-   div.swiper-pagination
        //-     each url in valueble.picUrl
        //-       span.swiper-pagination-bullet

        div.card.facebook-card
          div.card-header.no-border
            div.facebook-avatar
                img(src= valueble.authorAvatarUrl)
            div.card-info
              div
                span.facebook-name= valueble.authorName
                span.page-view 浏览次数：#{valueble.view}
              div.facebook-date
                span= valueble.date
                if valueble.authorSchool
                  span 来自[#{valueble.authorSchool}]
          div.connection-content
            span.icon.connection-icon
              i.iconfont-qq &#xe621;
            span.number= valueble.qq
            a.connection-action(href= "tencent://message/?uin="+ valueble.qq + "&Site=&Menu=yes") qq勾搭
          div.connection-content
            span.icon.connection-icon
              i.iconfont-phone &#xe620;
            span.number= valueble.tel
            a.connection-action(href= "tel:" + valueble.tel) 电话勾搭
            a.connection-action(href="sms:" + valueble.tel) 短信勾搭

        div.card.facebook-card
          div.card-content
            div.title-category
              span.content-title= valueble.name
              span.category= valueble.category_ch
            div.card-content-text= valueble.desc
            div.img-wrapper
              each url in valueble.picUrl
                img(src= url)

          div.card-footer
            div.icon.position
              i.iconfont-position &#xe619;
              span 交易地点  #{valueble.location}
            div.price ￥#{valueble.price}



block scripts
  script(type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8')
  script(src='../../javascripts/index.js', type='text/javascript')
