extends layout

block styles
  link(href="./stylesheets/treehole.css" rel='stylesheet')
block content
  div.page-group
    div.page.page-current#index
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/")
          span.icon.icon-left
        h1.title.text-white 树洞
      nav.bar.bar-tab
        a.tab-item.external(href="/treehole")
          span.icon.index-color
            i.iconfont-indexTabBar &#xe601;
          span.tab-label 主页
        a.tab-item.external(href="/treehole/post")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe603;
          span.tab-label 发布
        a.tab-item.external(href="/treehole/self")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe604;
          span.tab-label 个人中心
        
      div.bar.bar-header-secondary.treehole-searchbar
        div.searchbar
          a.searchbar-cancel 取消
          div.search-input
            label.icon.icon-search(for="search")
            input#search(type="search", placeholder="搜索感兴趣的话题")     
          a.gotoSearch.link(href="#search-page")        
          
      div.content.treehole-content
        div.buttons-tab
          a.tab-link.button.active(href="#tab-hot") 热门
          a.tab-link.button(href="#tab-nearby") 附近
          a.tab-link.button(href="#tab-school") 学校
        div.content-block
          div.tabs
            div#tab-hot.tab.active
              div.content-block            
                if treeholes
                  each treehole, index in treeholes
                    div.card.facebook-card(data-tId= treehole._id)
                      div.card-header.no-border
                        div.facebook-avatar
                            img(src= treehole.authorAvatarUrl)
                        div.card-info
                          div.facebook-name= treehole.authorName
                          div.facebook-date
                            span= treehole.date 
                            span= treehole.authorSchool
                      div.card-content
                        h3.card-content-title= treehole.title
                        p.card-content-text= treehole.content
                        div.picsWrapper
                          each url in treehole.picUrl
                            img(src= url)
                      div.topic-card-footer
                        a#comment.icon.link(href="#")
                          i.iconfont-selfComment &#xe612;
                          span.comment-count= treehole.comments
                        a#enjoy.icon.link(href="#")
                          i.iconfont-nullEnjoy &#xe614;
                          i.iconfont-selfEnjoy &#x611;
                          span.enjoy-count= treehole.fav
                else
                  div 还没有人发布树洞  
                  //- div.card.facebook-card
                  //-   div.card-header.no-border
                  //-     div.facebook-avatar
                  //-         img(src="../images/user-logo.png")
                  //-     div.card-info
                  //-       div.facebook-name 朱海浩
                  //-       div.facebook-date
                  //-         span 07.13 17:30 
                  //-         span 来自[青岛大学]
                  //-   div.card-content
                  //-     h3.card-content-title 想带着你南下, 感受四季的变化
                  //-     p.card-content-text 想带着你南下,感受四季的变化,远离世俗的喧嚣,走过春
                  //-     div.picsWrapper
                  //-       img(src="../images/book.jpg")
                  //-   div.topic-card-footer
                  //-     a#comment.icon.link(href="/treehole/detail")
                  //-       i.iconfont-selfComment &#xe612;
                  //-       span.comment-count 188
                  //-     a#enjoy.icon.link(href="#")
                  //-       i.iconfont-nullEnjoy &#xe614;
                  //-       span.enjoy-count 188
            div#tab-nearby.tab
              div.content-block
                div 这是附近
            div#tab-school.tab
              div.content-block
                div 这是学校
    
    
    div.page#search-page
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left(href="#index")
          span.icon.icon-left
        h1.title.text-white 搜索
      //- 在这里写搜索页面的内容        

      
                
            
          

block scripts
  script(src="./javascripts/treeholeIndex.js")
