extends detaillayout

block styles
  link(rel="stylesheet" href="../../stylesheets/commentDetail.css")

block content
  div.page-group
    div.page.page-current#signup
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/treehole")
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.treehole-back.pull-right.external
          span.icon.text-white
            i.iconfont-selfShare &#xe610;
        h1.title.text-white 查看对话
        
      div.content.details-content
        div.comment-content
          div.content-block
            div.tabs
              div#tab-hot.tab.active
                div.content-block
                  div.card.facebook-card
                    div.card-header.no-border
                      div.facebook-avatar
                        img(src= comment.authorAvatarUrl)
                      div.card-info
                        div.facebook-name= comment.authorName
                        div.facebook-date
                          span= comment.date
                          if comment.authorSchool
                            span= 来自[青岛大学]
                        div.card-comment
                          div.commnet-text 点个赞
                          div.comment-icon
                            span.icon
                              i.iconfont-selfComment &#xe612;
        each c in comments
          div.comment-item 
            span.name= c.authorName
            span.replay 回复 
            span.replay-object= comment.name：
            sapn.comment-text= c.content
            sapn.comment-data= c.date
                                                    
block scripts
