extends layout

block styles
  link(href="./stylesheets/treehole.css" rel='stylesheet')
block content
  div.page-group
    div.page.page-current
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/")
          span.icon.icon-left
        h1.title.text-white 树洞
      nav.bar.bar-tab
        a.tab-item.external(href="/treehole")
          span.icon
            i.iconfont-indexTabBar &#xe601;
          span.tab-label 主页
        a.tab-item.external(href="/treehole/post")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe603;
          span.tab-label 发布
        a.tab-item.external(href="/treehole/self")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe604;
          span.tab-label 个人中心
        
      div.bar.bar-header-secondary.treehole-searchbar
        div.searchbar
          a.searchbar-cancel 取消
          div.search-input
            label.icon.icon-search(for="search")
            input#search(type="search", placeholder="搜索感兴趣的话题")             
      div.content.treehole-content
        div.buttons-tab
          a.tab-link.button.active(href="#tab-hot") 热门
          a.tab-link.button(href="#tab-nearby") 附近
          a.tab-link.button(href="#tab-school") 学校
        div.content-block
          div.tabs
            div#tab-hot.tab.active
              div.content-block
                if treeholes
                  each treehole, index in treeholes
                    div.card.facebook-card
                      div.card-header.no-border
                        div.facebook-avatar
                          each url, index in treehole.picUrl
                            img(src= url)
                        div.card-info
                          div.facebook-name= treehole.authorName
                          div.facebook-date
                            span= treehole.time 
                            span= treehole.authorSchool
                      div.card-content
                        h3.card-content-title= treehole.title
                        p.card-content-text= treehole.content
                      div.card-footer
                        a#enjoy.icon.link(href="#")
                          i.iconfont-nullEnjoy &#xe614;
                        span.enjoy-count= treehole.meta.fav
                        a#comment.icon.link(href="#")
                          i.iconfont-selfComment &#xe612;
                        span.comment-count= treehole.meta.comments
                else
                  div 还没有人发布树洞  
                //- div.card.facebook-card
                //-   div.card-header.no-border
                //-     div.facebook-avatar
                //-       img(src="./images/user-logo.png")
                //-     div.card-info
                //-       div.facebook-name 朱海浩
                //-       div.facebook-date 07.13 17:30 来自[青岛大学]
                //-   div.card-content
                //-     h3.card-content-title 想带着你南下, 感受四季的变化
                //-     p.card-content-text 想带着你南下,感受四季的变化,远离世俗的喧嚣,走过春秋和东西啊.好他妈恶心
                //-   div.card-footer
                //-     a.icon.link(href="#")
                //-       i.iconfont-nullEnjoy &#xe614;
                //-     span.enjoy-count 188
                //-     a.icon.link(href="#")
                //-       i.iconfont-selfComment &#xe612;
                //-     span.comment-count 188
            div#tab-nearby.tab
              div.content-block
                div 这是附近
            div#tab-school.tab
              div.content-block
                div 这是学校
    
      
                
            
          

block scripts
