extends treeholelayout

block styles
  link(rel="stylesheet" href="../stylesheets/treeholeSelf.css")

block content
  div.page-group
    div.page.page-current#signup
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/treehole")
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.treehole-back.pull-right.external
          span.icon.text-white
            i.iconfont-selfShare &#xe610;
        h1.title.text-white 个人中心
      if user
        div.self
          div
            img(src= user.avatarUrl)
            div.self-info
              div.facebook-name= user.name
              div.facebook-sign-name 个性签名:
              a 编辑资料>
        
        div.topic-tag
          div.tag-left
          div.tag-middle 
            h5 我的话题
          div.tag-right
        if treeholes
          each item in treeholes
            div.topic-block
              div.my-topic
                img(src= item.picUrl[0])
                div.topic-content
                  a.content-title= item.title
                  div.content-text= item.content
                  div
                    span.icon
                      i.iconfont-selfEnjoy &#xe611;
                    span.enjoy-count= item.meta.fav
                    span.icon
                      i.iconfont-selfComment &#xe612;
                    span.comment-count= item.meta.comments
                    a.delete 删除
        else
          div  你还没有发布话题哦~~~
      else
        div.content
          div.content-block
            div.hint
              div.message 你还没有登陆
              div.actionRow
                div.signup
                  a.button-link.button.button-fill.button-success.external(href="/signin")  去注册

block scripts
