extends detaillayout

block styles
  link(rel="stylesheet" href="../../stylesheets/treeholeDetails.css")

block content
  div.page-group
    div.page.page-current#signup
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/treehole")
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.treehole-back.pull-right.external
          span.icon.text-white
            i.iconfont-selfShare &#xe610;
        h1.title.text-white 详情
      nav.input-comment
        input.input-block(placeholder="点击输入你的评论 ") 
        div.send 发送
      
      //-  这是需要保留的
      if tInfo
        div.content.details-content
          div.topic-content
            div.content-block
              div.tabs
                div#tab-hot.tab.active
                  div.content-block
                    div.card.facebook-card
                      div.card-header.no-border
                        div.facebook-avatar
                          img(src= tInfo.authorAvatarUrl)
                        div.card-info
                          div.facebook-name= tInfo.authorName
                          div.facebook-date 
                            span.time= tInfo.date
                            span.school 来自[#{tInfo.authorSchool}]
                      div.card-content
                          h3.card-content-title= tInfo.title
                          p.card-content-text= tInfo.content
                          each url in tInfo.picUrl
                            img(src= url)
                      div.topic-card-footer
                        a#comment.icon
                          i.iconfont-selfComment &#xe612;
                          span.comment-count= tInfo.meta.comment
                        a#enjoy.icon
                          i.iconfont-nullEnjoy &#xe614;
                          span.enjoy-count= tInfo.meta.fav
          

          div.comment-content
            div.content-block
              div.tabs
                div#tab-hot.tab.active
                  div.content-block
                    div.card.facebook-card
                      
                      div.comment-card-header
                        span.icon.header-span
                          i.iconfont-detailsComment &#xe615;
                          span#comment-total 评论 #{tInfo.comment.length} 条
                          
                      each c in tInfo.comment
                        div.card-header.no-border
                          div.facebook-avatar
                            img(src= c.authorAvatarUrl)
                          div.card-info
                            div.facebook-name= c.authorName
                            div.facebook-date 
                              span= c.time
                              span 来自[#{c.authorSchool}]
                            span.icon
                              i.iconfont-selfComment &#xe612;
                            div.card-comment
                              div.commnet-text= t.content
                              div.replay-text 回复#{c.replyName}的评论：都是套路
                              div.check-session
                                a(href="#") 查看对话
                      
                            
      //-   这是需要删除的
      
      else
        div.content.details-content
          div.topic-content
            div.content-block
              div.tabs
                div#tab-hot.tab.active
                  div.content-block
                    div.card.facebook-card
                      div.card-header.no-border
                        div.facebook-avatar
                          img(src="../images/user-logo.png")
                        div.card-info
                          div.facebook-name 朱海浩
                          div.facebook-date 07.13 17:30 来自[青岛大学]
                      div.card-content
                          h3.card-content-title 想带着你南下, 感受四季的变化
                          p.card-content-text 想带着你南下,感受四季的变化,远离世俗的喧嚣,走过春秋和东西啊.好他妈恶心
                          img(src="../images/book.jpg")
                      div.topic-card-footer
                        a#comment.icon.external(href="/treehole/detail")
                          i.iconfont-selfComment &#xe612;
                          span.comment-count 188
                        a#enjoy.icon.link(href="#")
                          i.iconfont-nullEnjoy &#xe614;
                          span.enjoy-count 188
                          
          div.comment-content
            div.content-block
              div.tabs
                div#tab-hot.tab.active
                  div.content-block
                    div.card.facebook-card
                      div.comment-card-header
                        span.icon.header-span
                          i.iconfont-detailsComment &#xe615;
                          span#comment-total 评论28条 
                      div.card-header.no-border
                        div.facebook-avatar
                          img(src="../images/user-logo.png")
                        div.card-info
                          div.facebook-name 朱海浩
                          div.facebook-date 07.13 17:30 来自[青岛大学]
                          span.icon
                            i.iconfont-selfComment &#xe612;
                          div.card-comment
                            div.commnet-text 想带着你南下, 感受四季的变化想带着你南下, 感受四变化
                            div.replay-text 回复某同学的评论：都是套路
                            div.check-session
                              a(href="#") 查看对话
                      div.card-header.no-border
                        div.facebook-avatar
                          img(src="../images/user-logo.png")
                        div.card-info
                          div.facebook-name 朱海浩
                          div.facebook-date 07.13 17:30 来自[青岛大学]
                          span.icon
                            i.iconfont-selfComment &#xe612;
                          div.card-comment
                            div.commnet-text 想带着你南下, 感受四季的变化想带着你南下, 感受四变化
                            div.replay-text 回复某同学的评论：都是套路
                            div.check-session
                              a(href="#") 查看对话
block scripts
