extends layout

block styles
  link(href="./stylesheets/treehole.css" rel='stylesheet')
block content
  div.page-group
    div.page.page-current#index
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/")
          span.icon.icon-left
        h1.title.text-white 树洞
      nav.bar.bar-tab
        a.tab-item.external(href="/treehole")
          span.icon.index-color
            i.iconfont-indexTabBar &#xe601;
          span.tab-label 主页
        a.tab-item.external(href="/treehole/post")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe603;
          span.tab-label 发布
        a.tab-item.external(href="/treehole/self")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe604;
          span.tab-label 个人中心
        
      div.bar.bar-header-secondary.treehole-searchbar
        div.searchbar
          a.searchbar-cancel 取消
          div.search-input
            label.icon.icon-search(for="search")
            input#search(type="search", placeholder="搜索感兴趣的话题")     
          a.gotoSearch.link(href="#search-page")        
          
      div.content.treehole-content
        div.buttons-tab
          a.tab-link.button.active(href="#tab-hot") 热门
          a.tab-link.button(href="#tab-nearby") 附近
          a.tab-link.button(href="#tab-school") 学校
        div.content-block
          div.tabs
            div#tab-hot.tab.active
              div.content-block            
                if treeholes
                  each treehole, index in treeholes
                    div.card.facebook-card(data-tId= treehole._id, data-favId= treehole.favUserId)
                      div.card-header.no-border
                        div.facebook-avatar
                            img(src= treehole.authorAvatarUrl)
                        div.card-info
                          div.facebook-name= treehole.authorName
                          div.facebook-date
                            span= treehole.date 
                            span= treehole.authorSchool
                      div.card-content
                        h3.card-content-title= treehole.title
                        p.card-content-text= treehole.content
                        div.picsWrapper
                          each url in treehole.picUrl
                            img(src= url)
                      div.topic-card-footer
                        a#comment.icon.link(href="#")
                          i.iconfont-selfComment &#xe612;
                          span.comment-count= treehole.comments
                        a#enjoy.icon.link(href="#")
                          i.iconfont-selfEnjoy &#xe611;
                          i.iconfont-nullEnjoy &#xe614;
                          span.enjoy-count= treehole.fav
                else
                  div 还没有人发布树洞  
            div#tab-nearby.tab
              div.content-block
                div 这是附近
            div#tab-school.tab
              div.content-block
                div 这是学校
    
    
    div.page#search-page
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left(href="#index")
          span.icon.icon-left
        h1.title.text-white 搜索
      //- 在这里写搜索页面的内容    
      div.bar.bar-header-secondary.treehole-searchbar
        div.searchbar
          div.search-input
            label.icon.icon-search(for="search")
            input#search-action(type="search", placeholder="搜索感兴趣的话题")
      
      div.content
        div.topic-item
          sapn.icon.clock-span
            i.iconfont-clock &#xe617;
          span.topic-title 科比巡演
          sapn.icon.delete-span
            i.iconfont-delete &#xe618;
        div.topic-item
          sapn.icon.clock-span
            i.iconfont-clock &#xe617;
          span.topic-title 啥子情况
          sapn.icon.delete-span
            i.iconfont-delete &#xe618;
      
                
            
          

block scripts
  script(src="./javascripts/windowUtils.js")
  script(src="./javascripts/treeholeIndex.js")
