extends detaillayout

block styles
  link(rel="stylesheet" href="../../stylesheets/treeholeCommentDetail.css")

block content
  div.page-group
    div.page.page-current#signup
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.treehole-back.pull-right.external
          span.icon.text-white
            i.iconfont-selfShare &#xe610;
        h1.title.text-white 查看对话
      nav.input-comment
        textarea.input-block(placeholder="点击输入你的评论 ") 
        div.send 发送
        
      div.content.details-content
        div.comment-content
          div.content-block
            div.tabs
              div#tab-hot.tab.active
                div.content-block
                  div.card.facebook-card(data-tId= comment.treeholeId, data-cCount= commentCount, data-mId= comment._id)
                    div.card-header.no-border
                      div.facebook-avatar
                        img(src= comment.authorAvatarUrl)
                      div.card-info(data-authorId= comment.authorId)
                        div.facebook-name= comment.authorName
                        div.facebook-date
                          span= comment.date
                          if comment.authorSchool
                            span 来自[#{comment.authorSchool}]
                        div.card-comment
                          div.comment-text= comment.content
                          div.comment-icon
                            span.icon
                              i.iconfont-selfComment &#xe612;
        if comments
          each c in comments
            div.comment-item 
              span.name= c.authorName
              span.replay 回复 
              span.replay-object= c.replyToName
              sapn.comment-text= c.content
              sapn.comment-data= c.date
                                                    
block scripts
  script(src="../../javascripts/windowUtils.js")
  script(src="../../javascripts/treeholeCommentDetail.js")
