extends detaillayout

block styles
  link(rel="stylesheet" href="../../stylesheets/treeholeDetails.css")

block content
  div.page-group
    div.page.page-current#signup
      //- header.bar.bar-nav.back-blue
      //-   a.button.button-link.button-nav.treehole-back.pull-left.external(href="/treehole")
      //-     span.icon.icon-left.text-white
      //-   a.button.button-link.button-nav.treehole-back.pull-right.external
      //-     span.icon.text-white
      //-       i.iconfont-selfShare &#xe610;
      //-   h1.title.text-white 详情
      nav.input-comment
        textarea.input-block(placeholder="点击输入你的评论 ") 
        div.send 发送
      
      //-  这是需要保留的
      if tInfo
        div.content.details-content
          div.topic-content
            div.content-block
              div.tabs
                div#tab-hot.tab.active
                  div.content-block
                    div.card.facebook-card#treeholeCard(data-tId= tInfo._id, data-favId= tInfo.favUserId)
                      div.card-header.no-border
                        div.facebook-avatar
                          img(src= tInfo.authorAvatarUrl)
                        div.card-info
                          div.facebook-name= tInfo.authorName
                          div.facebook-date 
                            span.time= tInfo.date
                            if tInfo.authorSchool
                              span.school 来自[#{tInfo.authorSchool}]
                      div.card-content
                          h3.card-content-title= tInfo.title
                          p.card-content-text= tInfo.content
                          each url in tInfo.picUrl
                            img(src= url)
                      div.topic-card-footer
                        a#comment.icon
                          i.iconfont-selfComment &#xe612;
                          span.comment-count= tInfo.comments
                        a#enjoy.icon
                          i.iconfont-selfEnjoy &#xe611;
                          i.iconfont-nullEnjoy &#xe614;
                          span.enjoy-count= tInfo.fav
          
          if comments
              
            div.comment-content
              div.content-block
                div.tabs
                  div#tab-hot.tab.active
                    div.content-block
                      div.card.facebook-card
                        div.comment-card-header
                          span.icon.header-span
                            i.iconfont-detailsComment &#xe615;
                            span#comment-total 评论 #{tInfo.comments} 条
                            
                        each c in comments
                          div.card-header.no-border
                            div.facebook-avatar
                              img(src= c.authorAvatarUrl)
                            div.card-info
                              div.facebook-name= c.authorName
                              div.facebook-date 
                                //- span.icon
                                //-   i.iconfont-selfComment &#xe612;
                                span.date= c.date
                                if c.authorSchool
                                  span 来自[#{c.authorSchool}]
                            div.card-comment
                              div.commnet-text= c.content
                              if c.replyToContent
                                div.replay-text
                                  span 回复#{c.replyToAuthorName}的评论：
                                  span= c.replyToContent
                              div.check-session
                                a.linkWrapper.external(href= "/treehole/comment/"+c._id data-commentId= c._id) 查看对话
                        
                              
      //-   这是需要删除的
      

block scripts
  script(src="../../javascripts/autosize.min.js")
  script(src="../../javascripts/treeholeDetails.js" type='text/javascript')
